*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
input ,textarea ,button{
    border: none;
    outline: none;
}
.top{
    width: 100%;
    height: 2.5rem;
    background-image: url("../font/juxing22.png");
    background-size: cover;
    padding: 0 0.24rem;
    box-sizing: border-box;
}
.top .shang{
    width: 100%;
    height: 0.88rem;
    box-sizing: border-box;
    font-size: 0.34rem;
    line-height: 0.88rem;
    color: #bec3d6;
    display: flex;
}
.top .shang a{
    color: #d8d9d5;
    display: block;
    margin-right: 0.2rem;
}
.zhong{
    width: 100%;
    height: auto;
    padding: 0 0.24rem;
    box-sizing: border-box;
    position: relative;
}
.zhong .it1{
    width: 7.02rem;
    height: 2.04rem;
    background: #f3e8e8;
    border-radius: 0.2rem;
    position: absolute;
    top: -1rem;
    border: 0.02rem solid #899494;
}
.zhong .it1 .to1{
    width: 100%;
    height: 1.3rem;
    align-items: center;
    display: flex;
    position: relative;
    color: #827373;
}
.zhong .it1 .fan{
    position: absolute;
    right: 0;
    top: -0.24rem;
}
.zhong .it1 .to1 .zuo{
    width: 0.67rem;
    height: 0.34rem;
    display: flex;
    line-height: 0.34rem;
    color: #827373;
}
.zhong .it1 .to1 .zuo .iconfont{
    font-size: 0.5rem;
}
.zhong .it1 .to1 .you{
    width: 5rem;
    height: 0.88rem;
    font-size: 0.3rem;
}
.zhong .it1 .to2{
    width: 100%;
    height: 0.74rem;
    border-top: 0.05rem solid #666e6e;
    font-size: 0.3rem;
    display: flex;
    align-items: center;
    color: #827373;
}
.zhong .to2 .left{
    width: 0.47rem;
    height: 0.5rem;
    color: #666767;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zhong .to2 .right{
    padding-left: 0.2rem;
}
.zhong .it2{
    width: 7.02rem;
    height: 4.4rem;
    border: 0.02rem solid #899494;
    border-radius: 0.2rem;
    position: absolute;
    top: 1.08rem;
}
.zhong .it2 .boxw{
    width: 100%;
    height: 0.56rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zhong .it2 .boxw .left{
    width: 3rem;
    height: 100%;
    padding-left: 0.08rem;
    display: flex;
    font-size: 0.28rem;
    line-height: 0.56rem;
    color: #9e989a;
}
.zhong .it2 .boxw .left .pic{
      width: 0.56rem;
      height: 0.56rem;
      background-image: url("../font/shuigfuo.jpg");
      background-size: cover;
}
.zhong .it2 .boxw .left .nb1{
    padding-left: 0.2rem;
}
.zhong .it2 .boxw .right{
    width: 1.1rem;
    height: 0.26rem;
    border: 0.01rem solid #9e989a;
    border-radius: 0.05rem;
    font-size: 0.2rem;
    line-height: 0.26rem;
    text-align: center;
}
.zhong .it2 .box{
    width: 100%;
    height: 1.28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zhong .it2 .box .left{
    width: 3.8rem;
    height: 0.72rem;
    font-size: 0.24rem;
    display: flex;
    align-items: center;
}
.zhong .it2 .box .left .pic1{
    width: 0.72rem;
    height: 0.72rem;
    background-image: url("../font/4bcb3ba01a36b2c5e94d1719eedcc584.jpg");
    background-size: cover;
}
.zhong .it2 .box .left .nb2{
    padding-left: 0.1rem;
}
.zhong .it2 .box .left .pic2{
    width: 0.72rem;
    height: 0.72rem;
    background-image: url("../font/4dc99f196b93d1ee-a6b3084a77535dde-ae8f582d5c9f1fe83b58537538a1d182.jpg");
    background-size: cover;
}
.zhong .it2 .box .left .nb3{
    padding-left: 0.1rem;
}
.zhong .it2 .box .left .pic3{
    width: 0.72rem;
    height: 0.72rem;
    background-image: url("../font/bolou.jpg");
    background-size: cover;
}
.zhong .it2 .box .left .nb4{
    padding-left: 0.1rem;
}
.zhong .it2 .box .right{
    width: 1.6rem;
    height: 0.3rem;
    display: flex;
    justify-content: space-between;
}
.zhong .it2 .box .right .zuo{
    width: 0.44rem;
    height: 0.3rem;
    font-size: 0.24rem;
    color: #666973;
}
.zhong .it2 .box .right .you{
    width: 0.7rem;
    height: 0.3rem;
    font-size: 0.24rem;
}
.zhong .it3{
    width: 7.02rem;
    height: 1.38rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 5.8rem;
    border: 0.02rem solid #899494;
    padding: 0 0.1rem;
    box-sizing: border-box;
}
.zhong .it3 .ih1{
    width: 100%;
    height: 0.69rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zhong .it3 .ih2{
    width: 100%;
    height: 0.69rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zhong .it3 .ih1 .left{
    width: 0.9rem;
    height: 0.28rem;
    font-size: 0.24rem;
    line-height: 0.28rem;
}
.zhong .it3 .ih1 .right{
    width: 0.5rem;
    height: 0.28rem;
    font-size: 0.24rem;
    line-height: 0.28rem;
}
.zhong .it3 .ih2 .left{
    width: 1.1rem;
    height: 0.28rem;
    font-size: 0.24rem;
    line-height: 0.28rem;
}
.zhong .it3 .ih2 .right{
    width: 1.1rem;
    height: 0.28rem;
    font-size: 0.24rem;
    line-height: 0.28rem;
    color: #9f9e9b;
}
.zhong .it4{
    width: 7.02rem;
    height: 1.38rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 7.48rem;
    border: 0.02rem solid #899494;
    padding: 0 0.1rem;
    box-sizing: border-box;
}
.zhong .it4 .ih1{
    width: 100%;
    height: 0.69rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zhong .it4 .ih2{
    width: 100%;
    height: 0.69rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zhong .it4 .ih1 .left{
    width: 1.2rem;
    height: 0.28rem;
    font-size: 0.24rem;
    line-height: 0.28rem;
}
.zhong .it4 .ih1 .right{
    width: 1rem;
    height: 0.28rem;
    font-size: 0.24rem;
    line-height: 0.28rem;
}
.zhong .it4 .ih2 .left{
    width: 1.1rem;
    height: 0.28rem;
    font-size: 0.24rem;
    line-height: 0.28rem;
}
.zhong .it4 .ih2 .right{
    width: 2rem;
    height: 0.28rem;
    font-size: 0.24rem;
    line-height: 0.28rem;
    color: #9f9e9b;
}
.di{
    width: 100%;
    height: 1rem;
    background: #313131;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.24rem;
    box-sizing: border-box;
}
.di .left{
    width: 1.5rem;
    height: 0.24rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: white;
}
.di .right{
    width: 4.3rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.di .right .ab{
    width: 1.9rem;
    height: 0.38rem;
    font-size: 0.3rem;
    color: white;
}
.di .right .ac{
    display: block;
    width: 2.4rem;
    height: 100%;
    background: #f39800;
    font-size: 0.3rem;
    line-height: 1rem;
    text-align: center;
    color: white;
}